body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #fae1dd;
}

.container{
    position: relative;
    margin-inline: 10px;
    margin-block: 15%;
    margin-top: 60px;
}



.outer{
    position: relative;
    /* top: 50px; */
    cursor: pointer;
    /* animation: up 3s linear infinite; */
}

.envelop{
    position: relative;
    width: 170px;
    height: 80px;
    background-color: #f08080;
    display: grid;
    place-items: center;
}

.envelop::before{
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    background: #f08080;
    transform: rotate(45deg);
    top: -60px;
    left: 25px;
    border-radius: 30px 0 0 0;
}





.front{
    position: absolute;
    border-right: 110px solid #f4978e;
    border-top: 53px solid transparent;
    border-bottom: 33px solid transparent;
    left: 60px;
    top: 0px;
    width: 0;
    height: 0;
    z-index: 10;
}




.front::before{
    position: absolute;
    content: '';
    border-left: 170px solid #fda996;
    border-top: 85px solid transparent;
    left: -60px;
    top: -53px;
}

.card{
    position: relative;
    width: 150px;
    height: 70px;
    background-color: #fff;
    border-radius: 2px;
    display: grid;
    place-items: center;
    transition: 1s;
}


.card::before{
    content:'';
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    border:2px solid #003049;
    border-style: dashed;
}




/* .outer:active .card{
    transform: translateY(-50px);
} */

.active{
    transform: translateY(-50px);
}



.card .text{
    font-family: cursive;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    color: #003049;
}




@keyframes up{
    0% ,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-30px);
    }
}

/* .outer::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 330px;
    border-radius: 50%;
    background: rgba(0,0,0,3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;

} */


@keyframes scale {
    0%,100%{
        transform: scaleX(1)
    }
    50%{
        transform: scaleX(.85);
    }
}


